<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vue-pwa</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="description" content="My Vue PWA"/>
    <meta name="theme-color" content="#2F3BA2"/>

    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Vue PWA">
    <link rel="apple-touch-icon" href="/images/ios/ios-appicon-1024-1024.png">

</head>
<body>
<noscript>
    <strong>We're sorry but vue-pwa doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>

<script type="application/javascript">

    // Register service worker.
	if ('serviceWorker' in navigator)
	{
		window.addEventListener('load', () =>
		{
			navigator.serviceWorker.register('/service-worker.js').then((reg) =>
			{
				console.log('Service worker registered.', reg);
			});
		});
	}

</script>
