<template>
    <div>
        <ul>
            Users
        </ul>
        <table align="center">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Cell Number</th>
                <th>Create Date</th>
                <th>Last Update</th>
            </tr>
            <tr v-for="user in usersList" :key="user.id">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.cellNumber }}</td>
                <td>{{ user.createdAt }}</td>
                <td>{{ user.updatedAt }}</td>
            </tr>
        </table>
        <ul>
            <button v-on:click="refreshUser">Refresh Users</button>
        </ul>
    </div>
</template>

<script>
	export default {
		name: 'Users',
		props: {
			id: String
		},
		data()
		{
			return {
				usersList: []
			};
		},
		mounted()
		{
			this.refreshUser();
		},
		methods: {
			getDataFromNetwork: function ()
			{
				return fetch(`http://localhost:3000/api/users`).then((response) =>
				{
					return response.json();
				}).catch(() =>
				{
					return null;
				});
			},
			getDataFromCache: function ()
			{
				if (!('caches' in window))
				{
					return null;
				}
				//const url = `${window.location.origin}/api/users`;
				const url = `http://localhost:3000/api/users`;
				return caches.match(url).then((response) =>
				{
					if (response)
					{
						return response.json();
					}
					return null;
				}).catch((err) =>
				{
					// console.error('Error getting data from cache', err);
					return null;
				});

			},
			populateUsers: function (response)
			{
				if (!response)
				{
					// There's no data, skip the update.
					return;
				}

				this.usersList = response.data;
			},
			refreshUser: function ()
			{
				this.getDataFromCache().then((response) =>
				{
					this.populateUsers(response);
				});
				this.getDataFromNetwork().then((response) =>
				{
					this.populateUsers(response);
				});
			}
		}
	}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>
